<%# ----- Display a User’s Tag Library  ----- %>

<div class="content content-center">
  <main class="modal form-auth">
    <h2>Tag Library</h2>
    <p>Et quidem rerum hic tenetur a sapiente delectus, ut et iusto odio dignissimos.</p>
    <hr />
    <% for (let color of colors) { %>
      <% if (color.tags.length > 0) { %>
        <%# Include Tag List organized by color %>
        <%- include('partials/list', {user: user, color: color}); %>
      <% } %>
    <% } %>
    <%# Include New Tag Form %>
    <%- include('partials/new', {user: user, colors: colors}); %>
  </main>
</div>