  <footer id="site-footer" class="content navigation">
    <header>
  <% if (!current_user) { %>
    <p class="logo-small"><a href="/">bonjourno</a></p>
  <% } else { %>
    <h1><a href="/<%= current_user.username %>">bonjourno</a></h1>
  <% } %>
  </header>
  <nav>
    <ul class="button-list form-layout-row">
      <li>2021</li>
    </ul>
  </nav>
  </footer>