<main class="content-main">
  <% if (typeof image !== "undefined" && image !== null) { %>
    <%- include("../../image/partials/image", {image}) %>
  <% } else { %>
    <%- include("../../image/partials/image") %>
  <% } %>
  <form class="form-layout-column" id="form-journal_entry">
    <div class="form-group">
      <label for="input-title">Title</label>
      <% if (typeof locals.entry != 'undefined') { %>
        <input type="text" id="input-title" name="title" value="<%= entry.title ? entry.title : null %>" />
      <% } else { %>
        <input type="text" id="input-title" name="title"/>
      <% } %>
    </div>
    <div class="form-group">
      <label for="input-body">Body</label>
      <% if (typeof locals.entry != 'undefined') { %>
        <textarea rows="15" id="input-body" name="body"><%= entry.body %></textarea>
      <% } else { %>
        <textarea rows="15" id="input-body" name="body"></textarea>
      <% } %>
    </div>
    <% if (edit_mode === "compose") { %>
      <button formaction="" method="POST" type="submit">Save Entry</button>
    <% } else { %>
      <button formaction="?_method=PUT" formmethod="POST" type="submit">Save Changes</button>
    <% } %>
  </form>
</main>