<%# ----- Upload an image or remove / replace an existing image  ----- %>

<div class="content content-center">
  <main class="modal form-auth">
    <%- include("partials/image", {image}) %>
    <h2>Image Gallery</h2>
    <p>Et quidem rerum hic tenetur a sapiente delectus, ut et iusto odio dignissimos.</p>
    <%- include("partials/upload") %>
    <hr />
  </main>
</div>