<div class="content">
  <main>
    <h2 class="tagline-large">At vero eos et dolorem.</h2>
    <p class="tagline-small">At vero eos et quasi involuta aperiri, altera occulta. </p>
    <div class="image-placeholder"></div>
  </main>
  <aside class="col content-center">
    <article class="card-product">
      <div class="image-placeholder"></div>
      <h3>Product Feature</h3>
      <p>At vero eos et fortibus viris commemorandis eorumque factis non emolumento aliquo, sed.</p>
    </article>
    <article class="card-product">
      <div class="image-placeholder"></div>
      <h3>Product Feature</h3>
      <p>At vero eos et fortibus viris commemorandis eorumque factis non emolumento aliquo, sed.</p>
    </article>
    <article class="card-product">
      <div class="image-placeholder"></div>
      <h3>Product Feature</h3>
      <p>At vero eos et fortibus viris commemorandis eorumque factis non emolumento aliquo, sed.</p>
    </article>
  </aside>
</div>