<!doctype html>

<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Nathan Holm" />

  <!-- <link rel="stylesheet" href="￼" />
  
  <script src="￼" defer></script> -->
  
  <title></title>
</head>

<body>
  <%- body %>
</body>
</html>