<form action="/auth/log-in" method="POST">
  <fieldset>
    <legend>Log-in</legend>  
    <label for="input-email">Email</label>
    <input id="input-email" name="email" type="email" />  
    <label for="input-password">Password</label>
    <input id="input-password" name="password" type="password" />
  </fieldset>
  <button type="submit">Log-in</button>
</form>