<div class="content content-center">
<form id="form-auth-sign_up" class="modal form-auth" action="/auth/sign-up" method="POST">
    <h2>Let’s Get Started</h2>
    <p>Hanc ego assentior, cum teneam sententiam, quid est laborum et quas molestias excepturi.</p>
  <fieldset class="form-layout-column">
    <legend>User Information</legend>
    <label for="input-full-name">Full Name</label>
    <input id="input-full-name" name="full_name" type="text" spellcheck="false" autocomplete="name" />  
    <label for="input-display-name">Display Name</label>
    <input id="input-display-name" name="display_name" type="text" spellcheck="false" autocomplete="given-name"/>  
    <label for="input-birth-date">Birth Date</label>
    <input id="input-birth-date" name="birth_date" type="bday" autocomplete="username"/>  
  </fieldset>
  <fieldset class="form-layout-column">
    <legend>Credentials</legend>
    <label for="input-username">Username</label>
    <input id="input-username" name="username" type="text" autocapitalize="none" spellcheck="false" autocomplete="username"/>  
    <label for="input-email">Email</label>
    <input id="input-email" name="email" type="email" autocomplete="email"/>  
    <label for="input-password">Password</label>
    <input id="input-password" name="password" type="password" autocomplete="new-password"/>
  </fieldset>
  <footer>
    <p>Already a user? <a href="/auth/sign-in">Sign in…</a></p>
  </footer>
  <button type="submit">Sign up</button>
</form>
</div>