<div class="content content-center">
  <main class="modal form-auth">
    <h2>Tag Library</h2>
    <p>Et quidem rerum hic tenetur a sapiente delectus, ut et iusto odio dignissimos.</p>
    <hr />
    <% for (let color of colors) { %>
      <% if (color.tags.length > 0) { %>
        <%- include('partials/tag-list', {user: user, color: color}); %>
      <% } %>
    <% } %>
    <%- include('partials/new-tag', {user: user, colors: colors}); %>
  </main>
</div>