<%# ----- List of tags ----- %>

<ul class="tag-list">
  <% for (let tag of tags) { %>
    <li class="tag button-round button-circle-small tag-<%= tag.color.name %>" ><span><%= tag.name %></span></li>
  <% } %>
</ul>