<%# Display the user’s name, %>
<%# Display a personalized greeting if the current user is authenticated. %>

<header class="navigation">
  <% if ( current_user && current_user.id === user.id ) { %>
    <% console.log(current_user) %>
  <h2><span aria-label="Profile Picture" class="button button-round profile-image"><span class="fi fi-rr-user"></span></span>Hi <%= user.display_name %></h2>
  <% } else { %>
  <h2><span aria-label="Profile Picture" class="button button-round profile-image"><span class="fi fi-rr-user"></span></span><%= user.full_name %></h2>
  <% } %>
</header>