<%# ---- Journal Entry Card with Edit and Delete buttons ---- %>

<section class="card-entry">
  <%# Include Journal Entry Card %>
  <%- include("entry-card", { entry: entry, user: user }) %>
  <nav>
    <ul class="button-list form-layout-row">
      <li class="button">Delete</li>
      <li class="button">Edit</li>
    </ul>
  </nav>
</section>