<nav>
  <p><a class="button" href="/<%= user.username %>/tags"><span class="fi fi-rr-label"></span>Tag Library</a></p>
  <p><a class="button" href="/<%= user.username %>/compose"><span class="fi fi-rr-add"></span>Compose</a></p>
</nav>