<%# New tag input field with color selector %>

<form action="/<%= user.username %>/tags/new" method="POST">
  <%- include("tag-color-selector", {user: user, colors: colors}) %>
  <fieldset class="form-layout-column">
    <label for="input-tag-name">Tag Name</label>
    <div class="input-combined">
      <input type="text" name="tag_name" id="input-tag-name" />
      <div class="button button-dropdown">
        <button id="button-tag-color" aria-label="Tag Color" class="tag button-round button-circle-small" type="button"></button>
      </div>
    </div>
    <button type="submit">Add Tag</button>
  </fieldset>
</form>