<% if (typeof image !== "undefined" && image !== null) { %>
  <% console.log(image) %>
  <div class="image" style="background-image: url('<%= image.image_source.url %><%= image.asset_id %>')"></div>
  <%- include("remove", {image}) %>
<% } else { %>
  <div class="image image-placeholder"></div>
<% } %>