<form action="" enctype="multipart/form-data" method="POST" class="form-layout-column">
  <label for="input_image">Select an Image to Upload</label>
  <input id="input_image" type="file" accept="image/*" name="image" />
  <button type="submit">Upload</button>
</form>